<html>

<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            padding: 40px;
        }
        .red {
            background-color: tomato
        }
        .green {
            background-color: green
        }
    </style>
</head>

<body>
    <h1>Counter</h1>
    <h3>{{count}} Times</h3>
    <a href="/double" class="btn btn-primary red">add two visits!</a>
    <a href="/destroy_session" class="btn btn-primary green">Reset</a>
</body>

</html>