<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Random Word Generator</title>
        <style>
            h1 {
                padding: 20px;
                outline: 1px solid black;
                display: inline-block;
            }
            body {
                padding: 50px;
            }
        </style>
    </head>

    <body>
        <h3>Random Word (attempt #{{count}})</h3>
        <br>
        <h1>{{word}}</h1>
        <br>
        <a class="btn btn-primary" href="/random_word/generate">Generate</a>
        <a class="btn btn-primary" href="/random_word/reset">Reset</a>
    </body>
</html>