<html>
    <head>
        <title>Dnager Message</title>
        <style>
            h1 {
                color: red;
                width: inherit;
                text-align: center;
            }
            p {
                width: 400px;
                margin-left: 40%;
            }
        </style>
    </head>
    <body>
        <h1>Danger</h1>
        <p>Hmm. Message {{id}} doesn't belong to you.</p>
        <p>Are you trying to hack my site???</p>

        <p>Your ip address is xxx.xxx.xxx.xxx has been recorded.</p>

        <p>Next time you attempt an activity like this we'll log you off automatically and report your ip address to our site administrator.</p>
    </body>
</html>