* {
    outline: 2px solid red;
}

div {
    background-color: blue;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
}