<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style> 
            .red {
                width: 200px;
                height: 200px;;
                background-color: red
            }
            .green {
                width: 200px;
                height: 200px;
                background-color: green;
            }
        </style>
</head>

<body>
    <form action="/process" method="post">
        <div class="text-center">
            <br>
            <h1>Welcome to the Great Number Game!</h1>
            <p>I am thinking of a number between 1 and 100</p>
            <p>Take a guess!</p>
            {% if count < 5 %}
                {% if guess > 0 and guess < number %}
                <h2 class="red">Too Low!</h2>
                {% endif %}
                {% if guess > number %}
                <h2 class="red">Too High!</h2>
                {% endif %}
                {% if guess == number %}
                <div class="green">
                    <h1 style="color: white">{{guess}} was the number!</h1>
                    <h4 style="color: white">Attempts: {{count}}</h4>
                    <a href="/clear" class="btn btn-primary">Play again!</a>
                </div>
                {% endif %}
            {% else %}
            <div class="red">
                <h1 style="color: white">You Lose!</h1>
                <h4 style="color: white">Attempts: {{count}}</h4>
                <a href="/clear" class="btn btn-primary">Play again!</a>
            </div>
            {% endif %}


            {% if count < 5 and number != guess %}
            <input type="text" value="" name="guess">
            <br><br>
            <input type='submit' value='Submit' class="btn btn-primary">
            {% endif %}
        </div>
    </form>
    <form action="/leaderboard" method="post">
        {% if guess == number %}
        <div class="form-control">
            <input style="display: inline" type="text" class="form-control" name="player" placeholder="Enter your name to save your result">
            <br><br>
            <input type='submit' value='Submit' class="btn btn-primary">
        </div>
        {% endif %}
    </form>
</body>

</html>