<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>My qoutes</title>
    <style>
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Qouting Dojo</h1>
    <form action="/qoutes" method="POST">
        <div>
            <label for="name">your name: <input type="text" name="name"></label>
            <label for="qoute">your qoute: <input type="text" name="qoute"></label>
            <br><br>
            <input class="btn btn-success" type="submit" value="Add my qoute!">
            <a class="btn btn btn-info" href="/qoutes">Skip to qoutes!</a>
        </div>
    </form>
</body>
</html>