<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Qoutes</title>
</head>
<body>
    <h1>Here are the awesome qoutes!</h1>
    <% for (var i=0; i<qoutes.length; i++) { %>
        <p>"<%= qoutes[i].content %>"</p>
        <span style="color: blue;"><%= qoutes[i].name %> at <%= qoutes[i].created_at %></span>
        <br>
    <%}%>
</body>
</html>