<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding: 10px;
        }

        form {
            margin: 30px;
            padding: 30px;
            outline: 2px solid black;
            display: inline-block;
        }
    </style>
</head>

<body>
    <form action="/process" method="POST">
        <p>Your Name: <input type="text" name="name"></p>
        <p>Dojo Location: <select name="location">
                <option value="San Jose">San jose</option>
                <option value="California">California</option>
                <option value="Saudi Arabia">Saudi Arabia</option>
            </select>
        </p>
        <p>Favourite Language: <select name="language">
                <option value="Python">Python</option>
                <option value="Java Script">Java Script</option>
                <option value="Swift">Swift</option>
            </select></p>
        <p>Comment (Optional):</p>
        <textarea name="comment" cols="60" rows="10"></textarea>
        <br><br>
        <input type="submit" value="Submit">
        {% with messages = get_flashed_messages() %}
        <!-- declare a variable called messages -->
        {% if messages %}
        <!-- check if there are any messages -->
        {% for message in messages %}
        <!-- loop through the messages -->
        <p style="color: red">{{message}}</p> <!-- display each message in a paragraph tag -->
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
</body>

</html>