<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1 {
            text-decoration: underline;
        }
        div {
            outline: 2px solid black;
            padding: 30px;
        }
    </style>
</head>

<body style="padding: 50px;">
    <div>
        <h1>Submitted Info</h1>
        <br>
    <p>Name: {{user[0]['name']}}</p>
    <p>Dojo Location: {{user[0]['location']}}</p>
    <p>Favourite Language: {{user[0]['language']}}</p>
    <p>Comment: {{user[0]['comment']}}</p>
    <br><br><br>
    <a href="/">Go Back</a>
    </div>
</body>

</html>