<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
</head>
<body>
    <img src="/images/bentley.jpg" alt="bentley">
    <img src="/images/lamburgini.jpg" alt="lamburgini">
    <img src="/images/mercedes.jpg" alt="mercedes">
</body>
</html>