<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1 {
            width: inherit;
            text-align: center;
        }
        form {
            margin: 30px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Add a New User</h1>

    <form action="users/create" method="POST">
        <p>First Name: <input type="text" name="fname"></p>
        <p>Last Name: <input type="text" name="lname"></p>
        <p>Email: <input type="text" name="email"></p>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
    
</body>

</html>