/*CSS reset settings here*/
*{
 margin: 0px;
 outline: 1px solid yellow;
 padding: 0px;
}
#wrapper{
 width: 1200px;
 background-color: silver;
 margin: 0px auto;
 padding-top: 1px;
}
#header{
    margin: 20px;
    min-height: 150px;
    display: block;
    background-color: green;
}
#navigation{
    margin: 20px;
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: text-top;
}
#main_content{
    margin: 20px;
    min-height: 450px;
    width: 750px;
    background-color: red;
    display: inline-block;
    vertical-align: text-top;
}
.subcontents{
    margin: 10px;
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
}
#advertisement{
    min-height: 120px;
    width: 660px;
    margin: 10px;
    background-color: purple;
}