<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books & Authors</title>
    <style>
        h1 {
            margin: 30px;
        }

        .section {
            margin-left: 20px;
            display: inline-block;
            width: 45%;
            outline: 2px dotted red;
            vertical-align: top;
        }
        p {
            vertical-align: top;
        }
        textarea {
            vertical-align: top;
        }
        .btn {
            margin-left: 30px;
        }
    </style>
</head>

<body>
    <h1>Add an Author</h1>
    <br>
    <div class="section">
        <form action="/add_author" method="POST">
            {% csrf_token %}
            <p>First Name <input type="text" name="fname"></p>
            <p>Last Name <input type="text" name="lname"></p>
            <p>Notes <textarea name="notes" cols="30" rows="10"></textarea></p>
            <input class="btn btn-primary" type="submit" value="Add">
        </form>
    </div>
    <div class="section">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <th scope="row">{{author.id}}</th>
                    <td>{{author.first_name}} {{author.last_name}}</td>
                    <td><a href="/authors/{{author.id}}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>