<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books & Authors</title>
    <style>
        body {
            padding: 40px;
        }
        .notes {
            display: inline-block;
        }
        .btn, select {
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    <h4>ID: {{author.id}}</h4>
    <h4 class="notes">Notes: </h4>
    <p class="notes">{{author.notes}}</p>
    <br>
    <h4>Books:</h4>
    <ul>
        {% for book in author_books %}
        <li>{{book.title}}</li>
        {% endfor %}
    </ul>
    <form action="/authors/{{author.id}}/add_book" method="POST">
        {% csrf_token %}
        <select name="book_id">
                <option value="">select a book</option>
                {% for book in books %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
        <input type="submit" value="Add" class="btn btn-primary">
    </form>
    <br><br>
    <a class="btn btn-primary" href="/">Home</a>
</body>

</html>